*,*::after, *::before{
    box-sizing: border-box;
}
:root{
    --color-menu: #3B3232;
    --font-fam-titles: Arial, Helvetica, sans-serif;
    --font-fam: Verdana, Geneva, Tahoma, sans-serif;
    --color-title: #2186FF;
    --color-text: #666666;
}
.body{
    background-color: black;
}

.d-none{
    display: none;
}
.d-block{
    display: block;
}
.banner{
    background-image: url(/img/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 350px;
}
.menu-bar{
    width: 90%;
    margin: 50px 5%;
    border-radius: 5px;
    /* background-color: var(--color-menu); */
    position: fixed;
}
.menu-logo{
    width: 100px;
    margin-left: 50px;
}
.menu{
    float: right;
    display: flex;
    margin-top:20px;
    margin-right: 100px;
}
.menu-items{
    list-style: none;
    color: white;
    margin: 0 15px;
    font-family: var(--font-fam-titles);
}
.size-n{
    font-size: 1.1em ;
}
.size-sm{
    font-size: .9em;
}
@keyframes link{
    from{
        color: white;
        font-weight: 200;
    }
    to{
        font-weight: bold;
    }
}
.menu-items:hover{
    animation-name: link;
    animation-duration: .2s;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
.section{
    margin: 30px 5%;
}
li{
    list-style: none;
}
.paragraph{
    margin: 25px 10%;
    color: white;
    font-family: var(--font-fam);
}
.title{
    color: var(--color-title);
    font-family: var(--font-fam-titles);
    border-left: 3px solid var(--color-title);
    margin-left: 10%;
}
