*,*::after, *::before{
    box-sizing: border-box;
}
:root{
    --color-menu: #3B3232;
    --font-fam-titles: Arial, Helvetica, sans-serif;
    --font-fam: Verdana, Geneva, Tahoma, sans-serif;
    --color-title: #2186FF;
    --color-text: #666666;
}
.body{
    background-color: black;
}

.d-none{
    display: none;
}
.d-block{
    display: block;
}
.banner{
    background-image: url(/img/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;

}
.menu-bar{
    width: 90%;
    margin-top: 0;
    border-radius: 5px;
    /* background-color: var(--color-menu); */
}
.menu-logo{
    width: 200px;
    margin-left: 3%;
    margin-top: 3%;
}
.menu{
    float: right;
    display: flex;
    margin-top: 5%;
    margin-right: 50px;
}
.menu-items{
    list-style: none;
    color: white;
    margin: 0 15px;
    font-family: var(--font-fam-titles);
}
.size-n{
    font-size: 1.1em ;
}
.size-sm{
    font-size: .9em;
}
@keyframes link{
    from{
        color: white;
        font-weight: 200;
    }
    to{
        font-weight: bold;
    }
}
.menu-items:hover{
    animation-name: link;
    animation-duration: .2s;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
.section{
    margin: 30px 5%;
}
li{
    list-style: none;
}
.paragraph{
    margin-top: 3%;
    margin-left: 5%;
    color: white;
    font-family: var(--font-fam);
}
.title{
    color: var(--color-title);
    font-family: var(--font-fam-titles);
    border-left: 3px solid var(--color-title);
    margin-left: 10%;
    margin-top: 5%;
}
.Main-h1 {
    color: white;
    margin-left: 38%;
    margin-top: 10%;
}
.third-section{
    background-color: #666666;
    height: 400px;
}
/*.carousel.slide {
    padding-top: 10%;
}*/
/*.carousel-control-prev-icon {
    margin-top: 300px;
}*/
/*.carousel-control-next-icon {
    margin-top: 300px;
}*/
.banner-2 {
    width: 80%;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.item-c{
    width: 70%;
    height: 400px;
    position: absolute;
}
.img-carousel{
    width: 100%;
    height: 400px;
}
.slider {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}
#slideImg {
    width: 100%;
    height: 100%;
}
.overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
}
